<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="about content">
    <h2>All Blogs</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eum at possimus iusto. Praesentium harum assumenda, itaque optio atque non, sint libero fugiat, quibusdam officia accusantium delectus vero ea ab?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eum at possimus iusto. Praesentium harum assumenda, itaque optio atque non, sint libero fugiat, quibusdam officia accusantium delectus vero ea ab?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eum at possimus iusto. Praesentium harum assumenda, itaque optio atque non, sint libero fugiat, quibusdam officia accusantium delectus vero ea ab?</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>