@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Josefin Sans', sans-serif;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 15px;
  border-bottom: 2px solid #4caf50;
  text-transform: uppercase;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-left: 30px;
}

nav h1 {
  font-size: 3.5em;
  color: #388e3c;
}

nav p,
nav a {
  color: #555;
  font-weight: 400;
  transition: color 0.3s;
}

nav a:hover {
  color: #4caf50;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}

/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid #4caf50;
  transition: border-color 0.3s;
}

.blogs a:hover {
  border-left-color: #388e3c;
}

.blogs a:hover h3 {
  color: #388e3c;
}

/* details styles */
.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
.delete:hover img {
  cursor: pointer;
  filter: invert(42%) sepia(45%) saturate(1270%) hue-rotate(-35deg)
    brightness(74%) contrast(161%);
}

/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.create-blog input:focus,
.create-blog textarea:focus {
  border-color: #388e3c;
  outline: none;
}

.create-blog label {
  display: block;
  margin-top: 24px;
  font-weight: bold;
  color: #555;
}

textarea {
  height: 120px;
  resize: none;
}

.create-blog button {
  margin-top: 20px;
  background: #4caf50;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-blog button:hover {
  background: #388e3c;
}
